<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Angular CaDrag</title>
  <meta name="description" content="Angular Drag &amp; Drop Module">
  <meta name="author" content="Cosmin Albulescu">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="../ca-drag.css">
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.js"></script>
  <script src="../ca-drag.js"></script>
  <script src="scripts.js"></script>
</head>
<body ng-app="dragging">

    <h1>Angular Drag &amp; Drop Demo</h1>

    <div class="demobox" ng-controller="test1">
      <h2>Custom indicators <span ng-show="manager.dragging">(dragging)</span></h2>
      <div class="body clearfix">
        <div class="draggables">
            <div ca-drag-type="man" ca-drag-begin="onDraggingBegin($event)" ca-drag-data="item" ca-drag-enabled class="box man" ng-repeat="item in man">{{item.name}}</div>
            <div ca-drag-type="woman" ca-drag-begin="onDraggingBegin($event)" ca-drag-data="item" ca-drag-enabled class="box woman" ng-repeat="item in woman">{{item.name}}</div>
        </div>
        <div class="droppable">
            <div ca-drop-type="man" ca-drop-hover="checkAge($event)" ca-drop-complete="onManDrop($event)" class="drop man"></div>
            <div ca-drop-type="woman" ca-drop-hover="checkAge($event)" ca-drop-complete="onWomanDrop($event)" class="drop woman"></div>
        </div>
        <div ca-drag-indicator="man" class="dragbox man">
            <span>Man:{{name}}</span>
            <strong ng-show="age<18">( Under 18 )</strong>
        </div>
        <div ca-drag-indicator="woman" class="dragbox woman">
            <span>Woman:{{name}}</span>
            <strong ng-show="age<18">( Under 18 )</strong>
        </div>
      </div>
      <div class="console">
        <span class="message" ng-repeat="message in messages">{{message.text}}</span>
      </div>
    </div>
    
</body>
</html>